
<div class="container col-md-4 justify-content-center">
  <p>c1 works!</p>
<div class="box">
     <b>User Name : </b><strong>   {{user.username}}</strong><br/>
     <b>Password :</b><strong>     {{user.passwword}}</strong><br/>
     <b>Email    :</b><strong>     {{user.email}}</strong><br/>
    
     <input type="text" placeholder="Update name" #uname><br/><br>
     <input type="password" placeholder="Upadate pass" #upass><br/><br/>
     <input type="email" placeholder="Upadate email" #email><br/><br/>
    
     <button class="btn btn-warning" (click)="updateUserName(uname, upass,email)">Update</button>
   </div>
  </div>
