<p>filterpipe works!</p>
<div class="row justify-content-center">
    <div class="col-md-8">
        <input type="text" placeholder="Add product" #add>

        <button (click)="AddProduct(add.value)">AddProduct</button>
    </div>
    <div class="col-md-8 mb-2">
        <label for="productId">Search by product</label>
        <input type="text" class="form-control" id="productId" placeholder="Enter product name" [(ngModel)]="namesearch">
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">prodNo</th>
                    <th scope="col">productName</th>
                    <th scope="col">productPrice</th>
                    <th scope="col">availability</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of prodcutArr | filter:namesearch">
                    <td>{{product.prodNo}}</td>
                    <td>{{product.productName}}</td>
                    <td>{{product.productPrice}}</td>
                    <td>{{product.availability}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
