<p>gif works!</p>
<div class="row justify-content-center" id="main">
<div class="col-md-10 text-left rounded shadow" >

    <div>
    <br><br>
    <input type="text" class="text-center text-primary" [(ngModel)]="searchString"  id="name"  placeholder="Search Text" >
    <button  class="btn btn-dark mx-3" (click)="gifQuery()">Search</button>
    </div>
    <br>

    <div *ngIf="resObject text-center">

        <div class="printable-list row">
<!--            
            <ul class="list-group mt-3 list-item">
                <li class="gif list-group-item mt-3" *ngFor="let gdata of resObject | paginate:{id:'listing_pagination', itemsPerPage: 10, currentPage: page, totalItems: totalPages}">
                
                    <img [src]="gdata.images.fixed_width.url" alt="{{gdata.title}}">
                </li>
            </ul> -->
            <div class="imgdiv" *ngFor="let gdata of resObject | gif:searchString | paginate:{id:'listing_pagination', itemsPerPage: 10, currentPage: page, totalItems: totalPages}">
                <img [src]="gdata.images.fixed_width.url" alt="{{gdata.title}}">
            </div>
        </div>

         <div class="mt-2">
            <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page=$event" ></pagination-controls>
        </div> 
             
    </div>

</div>
</div>
