<p>computerperipheral works!</p>

<div class="row">
    <div class="card">
        <img class="card-img-top" src="../../assets/electronicPics/projector.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Projector</h5>
          <p class="card-text">A projector is an optical device that projects an image (or moving images) onto a surface, commonly a projection screen.</p>
          <a routerLink="computerperipheral" class="btn btn-warning mx-2">ADD TO CART</a>
          <a routerLink="computerperipheral" class="btn btn-warning">BUY NOW</a>
        </div>
      </div>
</div>
