<p>camera works!</p>
<div class="row">

    <div class="card">
        <img class="card-img-top" src="../../assets/electronicPics/drone.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Camera</h5>
            <p class="card-text">Drones are small or medium-sized unmanned aerial vehicles (UAVs). They're unique in that they can drive remotely and autonomously, and they're capable of maintaining a controlled, sustained level of flight.</p>
            <a routerLink="camera" class="btn btn-warning mx-2">ADD TO CART</a>
            <a routerLink="camera" class="btn btn-warning">BUY NOW</a>
        </div>
    </div>

</div>
