<p>electronics works!</p>
<div class="row">
    <div class="col-md-8">

        <div class="card">
            <img class="card-img-top" src="../../assets/electronicPics/drone.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Camera</h5>
              <p class="card-text">Drones are small or medium-sized unmanned aerial vehicles (UAVs). They're unique in that they can drive remotely and autonomously, and they're capable of maintaining a controlled, sustained level of flight.</p>
              <a routerLink="camera" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="../../assets/electronicPics/projector.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Projector</h5>
              <p class="card-text">A projector is an optical device that projects an image (or moving images) onto a surface, commonly a projection screen.</p>
              <a routerLink="computerperipheral" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" >
            <img class="card-img-top" src="../../assets/electronicPics/powerbk.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Powerbank</h5>
              <p class="card-text">They can charged up using a USB charger when power is available, and then used to charge battery powered items like mobile phones .</p>
              <a routerLink="powerbank" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" >
            <img class="card-img-top" src="../../assets/electronicPics/smartlight.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Smart Lights</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="smartlights" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          


    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
      </div>
</div>
