<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <!-- <app-newchild-input [courseInput]="courses"></app-newchild-input>
  <h1>
    <app-databinding></app-databinding>
  </h1>

  <app-child2></app-child2>
  -->
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<!--  //step 4 for @output with event emmitter -->
<!-- <app-child [dataInput]="data" (foodEvent)="getDataFromChild($event)"></app-child>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<!-- <app-demo></app-demo>


<app-demo3></app-demo3> -->

<!-- <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>

<app-data-binding></app-data-binding>

<app-ng-if></app-ng-if>
<app-ngfor></app-ngfor>
<app-ngswitch></app-ngswitch>
<app-ngforassignment></app-ngforassignment>
<app-ngswitchassignment></app-ngswitchassignment>
<app-demo2></app-demo2>
<hr>
<app-ischeckbox></app-ischeckbox>
<app-attributedir></app-attributedir> -->

<!-- custom directive -->
<!-- <p class="text-center" appCustomdir>This is custom directive</p>
<hr>
<app-ngfordirective></app-ngfordirective>
<hr> -->
<!-- <app-simpleform></app-simpleform> -->
<!-- <app-reactiveform></app-reactiveform>
<br>
<app-country></app-country>
<br>
<hr>
<app-formassignment></app-formassignment>
<hr>
<app-templatedrivenassignment></app-templatedrivenassignment>
<hr> -->
<!-- <app-comp1></app-comp1> -->
<!-- <app-comp2></app-comp2> -->

<!-- <div class="row">
  <div class="col-md-6">
    <app-comp1></app-comp1>
    <app-comp2></app-comp2>
  </div>
  <div class="col-md-6">
    <app-comp3></app-comp3>
    <app-comp4></app-comp4>
  </div>
</div> -->

<!-- <div class="row" id="updatebtn">
  <h2 class="text-center h4">Assignment</h2>
  <div class="col-md-6">
    <app-c1></app-c1>
    <app-c2></app-c2>
  </div>
  <div class="col-md-6">
    <app-c3></app-c3>
    <app-c4></app-c4>
  </div>
</div>
<br>
<br> -->


<!-- <app-agecomp1></app-agecomp1>
<app-agecomp2></app-agecomp2> -->
<!-- <app-reactiveassignment></app-reactiveassignment> -->
<!-- <app-rform></app-rform> -->
 <!-- <app-pipedemo></app-pipedemo> 
 -->
<!-- <app-user1comp></app-user1comp>  -->

<!-- <app-filterpipe></app-filterpipe>  -->


<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/aboutus">AboutUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/contactus">ContactUS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/product">Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/todo">Todo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/rapidapi">RapidAPI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/rapidapiassignment">RapidAPI Assignment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/firebaseapi">FirebaseAPI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/randomuserapi">Random User API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/rxjs">Rxjs Operators</a>
      </li>
    </ul>
  </nav>
</header>

<!-- <input type="text" (blur)="OnTextValuCHanges(val)" #val>
<app-hook [fromParent]="data" *ngIf="isDestroy">
<h1 #child>This is child content coming from parent component</h1>
</app-hook>
<button class="btn btn-danger" (click)="OnDestroy()">OnDestroy</button> -->

<app-filterpipe></app-filterpipe>
<router-outlet></router-outlet>
