<p>post works!</p>
<div>
    <div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            User Id
                        </th>
                        <th>
                            Id
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Body
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let post of arrPosts">
                        <td>{{post.userId}}</td>
                        <td> <a [routerLink]="['/postdetails', post.id]">{{post.id}}</a> </td>
                        <td>{{post.title}}</td>
                        <td>{{post.body}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
