

<div class="container-fluid background-image:'./assets/flowers'" >
    <p class="h2"> *ngfor Directive Assignment</p>
    <label class="cdropdown">Country :</label>
    <select (change) = "getstateById($event.target.value)">
        <option value="Default">select country</option>
        <option [value]="Countries.countryId" *ngFor="let Countries of country">{{Countries.countryName}}</option>
    </select><br>
    <br>
    <label class="cdropdown">States :</label>
    <select>
        <option value="Default">select state</option>
        <option [value] ="newState" *ngFor="let States of state">{{States.stateName}}</option>
    </select>
</div>
