<!-- <p>wikipedia works!</p>
<div class="row justify-content-center" id="main">
    <div class="col-md-10 text-left rounded shadow" >
<div>
    <br><br>
    <input type="text" class="text-center" [(ngModel)]="searchTerm"  id="name"  placeholder="Search Wikipedia" >
    <button  class="btn btn-primary mx-3" (click)="search()">Search</button>
   
  </div>
  <br>
  <div *ngIf="searchResults text-center">
        <div class="table-container fixTableHead">
          <table class="table rounded table table-bordered" id="usersData">
            <thead class="sticky-header">
              <tr>
        
                <th class=" text-center">Title</th>
                <th class="text-center">Wordcount</th>
                <th class="text-center">Snippet</th>

        </div>
</div>
</div>
</div>
     -->

