.fixTableHead {
  overflow-y: auto; 
  height: 400px;
}
.fixTableHead thead th {
  /* fixed header position on top  */
  position: sticky;
  top: 0;   
  background-color: rgb(244, 132, 132);
}

.fixTableHead table td { background-color: rgb(173, 228, 244); }

input {
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 10px;
  background-color: brown;
  color: white;
}