<p>smartlights works!</p>

<div class="row">
    <div class="card" >
        <img class="card-img-top" src="../../assets/electronicPics/smartlight.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Smart Lights</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="smartlights" class="btn btn-warning mx-2">ADD TO CART</a>
          <a routerLink="smartlights" class="btn btn-warning">BUY NOW</a>
        </div>
      </div>

</div>