<p>reactiveform works!</p>
<div class="container display-7">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded shadow py-5">
            <form [formGroup]="myForm" (ngSubmit)="OnSubmit()">

                <div formGroupName="userDetails">
                <div class="form-group">
                    <label for="username">UserName</label>
                    <input type="text" class="form-control" formControlName="username" placeholder="Please enter name">

                    <small class="text-danger" *ngIf="!myForm.get('userDetails.username').valid && 
                        myForm.get('userDetails.username').touched">
                    <span class="text-danger" *ngIf="myForm.get('userDetails.username').errors['required']">User name required *</span>

                    <span class="text-danger" *ngIf="myForm.get('userDetails.username').errors['namesIsNotAllowed']">That username is taken. Try another.</span> 
                    </small>

                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="Please enter email address">
                    <small *ngIf="!myForm.get('userDetails.email').valid && myForm.get('userDetails.email').touched">
                        <span class="text-danger" *ngIf="myForm.get('userDetails.email').errors['required']">Please Enter valid email</span>
                        <span class="text-danger h4" *ngIf="myForm.get('userDetails.email').errors['emailNotAllowed']">That email is taken. Try another.</span>
                    </small>
                
                </div>
                </div>

                <div class="form-group mt-2">
                    <select formControlName="course" class="form-control" name="course" id="course" [ngModel]="defaultCourseValue">
                        <option value="Angular">Angular</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="TypeScript">TypeScript</option>
                     
                    </select>
                </div>
                <div class="form-group">
                    <label for="genders">Gender</label>
                    <div *ngFor= "let gender of genders" class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" formControlName="genders" id="{{gender.id}}" value="{{gender.value}}">
                        <label for="{{gender.id}}">{{gender.value}}</label>
                    </div>
                </div>

                <!-- form array -->
                <div class="form-group" formArrayName="skills">
                    <label>Skills</label>
                    <ng-container *ngFor="let skill of myForm.get('skills').controls; index as i">
                        <input type="text" class="form-control" formControlName="{{i}}" placeholder="Add skills">
                    </ng-container>
                    <button class="btn btn-light btn-sm mt-4 btn-add" (click)="OnAddSkills()"><i>+</i>Add Skills</button>
                    <button class="btn btn-danger btn-sm mt-4 btn-remove" (click)="OnRemove(i)"><i>-</i>Remove</button> 
                </div>

                <button type="submit"  class="btn btn-success mt-2">Submit</button>
                <!-- To show data on form submitted -->
                <div class="row justify-content-center mt-2" *ngIf="isFormSubmitted">
                    <h2 class="text-center">Form Data</h2>
                    <p>UserName: <strong>{{myForm.get('userDetails.username').value}}</strong></p>
                    <p>Email: <strong>{{myForm.get('userDetails.email').value}}</strong></p>
                    <p>Course: <strong>{{myForm.get('course').value}}</strong></p>                  
                    <p>Gender: <strong>{{myForm.get('genders').value}}</strong></p>              
                </div>


            </form>
        </div>
    </div>
</div>

