<p>formassignment works!</p>

<div class="container h5">

    <div class="row justify-content-center">
        <div class="col-md-6 text-left justify-content-center shadow py-5">
            <div class="row justify-content-center">Form</div>

            <form (ngSubmit) ="submitForm(myForm)" #myForm = "ngForm">
            <div class="form-group">
                <label for="username">Username :</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" ngModel placeholder="Enter Username" required>
                <small *ngIf="username" class="text-info">User name is : {{username}}</small>
            </div>

            <div class="form-group">
                <label for="emailid" >Email-id :</label>
                <input type="email" class="form-control" id="emailid" #email="ngModel" name="emailid" ngModel placeholder="Enter email address" email required>
                <small class = "text-danger" *ngIf="email.touched && !email.valid">Please Enter Valid Email</small>
            </div>

            <div class="form-group">
                <label for="gender">Gender :
                    <input type="radio" name="gender" value="Male" class="selectGender" ngModel>Male
                    <input type="radio" name="gender" value="Female" class="selectGender" ngModel>Female
                    <input type="radio" name="gender" value="Other" class="selectGender" ngModel>Other
                </label>
            </div>

            <div class="form-group">
                <label for="phoneno">Mobile No :</label>
                <input type="number" class="form-control" id="phoneno" [(ngModel)]="phoneno" name="phoneno" ngModel placeholder="Enter phone no">
                <small *ngIf="phoneno" class="text-info">Mobile Number {{phoneno}}</small>
            </div>

            <div class="form-group">
                <label for="birthdate">Date of Birth :</label>
                <input type="date" class="form-control" id="birthdate" name="birthdate" ngModel>
            </div>

            <div class="form-group">
                <label for="address">Address :</label>
                <textarea class="form-control" id="address" name="address" ngModel placeholder="Write your Address here"></textarea>
            </div>

            <div class="form-group mt-2">
                <label for="courselist">Select Courses :</label>
                <select name="courselist" [ngModel]="defaultCourse" class="form-control" ngModel>
                    <option value="Default">select course </option>
                    <option value="IT">IT</option>
                    <option value="Electronics & Telecommunication">Electronics & Telecommunication</option>
                    <option value="Civil">Civil</option>
                    <option value="Mechanical">Mechanical</option>
                    <option value="Automobile">Automobile</option>
                    <option value="Computer Science">Computer Science</option>
                </select>
            </div>

            <div ngModelGroup="information" class="mt-2">
                <div class="form-group">
                    <label for="allcountry" >Country</label>
                    <input type="text" class="form-control" id="allcountry" #allcountry="ngModel" name="allcountry" ngModel placeholder="Enter country" required>
                    <small class="text-danger" *ngIf="allcountry.touched && !allcountry.valid">Please enter country</small>
                </div>

                <div class="form-group">
                    <label for="allstate">State</label>
                    <input type="text" class="form-control" id="allstate" #allstate="ngModel" name="allstate" ngModel placeholder="Enter state" required>
                    <small class="text-danger" *ngIf="allstate.touched && !allstate.valid">Please enter State</small>
                </div>
            </div>

            <div class="form-group mt-2">
                <label for="check" [ngStyle] ="{'color':colorval}">Accept the terms and Conditions</label>
                <input type="checkbox" class="mx-2" id="check" #check="ngModel" name="check" ngModel required><br>
                <small class="text-warning" *ngIf="!check.valid">Please accept terms and conditions</small>
            </div>

        
            <div class="form-group">
                <button type="submit" [disabled]="!myForm.valid" class="btn btn-success mt-2 mx-8 form-control">Register</button>
            </div>

            <div class="form-group text-center">
                <button type="reset" class="btn btn-danger mt-2 mx-16" (click)="Onclear()">Clear</button> 
            </div>
        
    </form>
    
    </div>
    </div>


</div>
