input.ng-invalid.ng-touched,

select.ng-invalid.ng-touched{

    border: 1px solid red;

    box-shadow: 0 0 13px #ff000021;

}

.container{
background-image : url('/assets/pexel.jpg');
background-repeat: no-repeat;
background-size: cover;
color:white;
}