<p>rapidapi works!</p>
<div class="container">
    <h2 class="text-center h4">Fetch data from RapidApi</h2>
    <div class="col-md-8 mb-2">
        <table class="table table-bordered table-striped">
            <thead>
                <th>News title</th>
                <th>Publisher</th>
                <th>link</th>
                <th>Type</th>
            </thead>

            <tbody>
                <tr *ngFor="let rapidata of rapidapiNewsData">
                    <td>{{rapidata.title}}</td>
                    <td>{{rapidata.publisher}}</td>
                    <td><a href="{{rapidata.link}}">{{rapidata.link}}</a></td>
                    <td>{{rapidata.type}}</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

<div>
<button class="btn btn-primary" (click)="GetMarketData()">GetMarketData</button> <br> <br>

<button class="btn btn-primary" (click)="getMovers()">GetMovers</button>
</div>

 <div class="container">
    <h2 class="text-center h4">Fetch data from RapidApi Quotes</h2>
    <div class="col-md-8 mb-2">
        <table class="table table-bordered table-striped">
            <thead>
                <th>quotes shortname</th>
                <th>quotetype</th>
                <th>quote symbol</th>
            </thead>

            <tbody>
                    <tr *ngFor="let rapiQuotes of rapidapiQuotes">
                    <td>{{rapiQuotes.shortname}}</td>
                    <td>{{rapiQuotes.quoteType}}</td>
                    <td>{{rapiQuotes.symbol}}</td>
                    </tr>
            </tbody>
        </table>

    </div>

</div>


